* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
  }

  /* #myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%; 
min-height: 100%;
} */

  /* #myVideo {
    position: static;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
  } */

  #contactImage {
    width: 100%;
    
  }

  .content {
    position: absolute;
    top: 350px;
    bottom: 300px;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }

  #myBtn:hover {
    background: #ddd;
    color: black;    
  }

  /* Navigation Bar */
  .navbar { 
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 200px;
    padding-left: 200px;
    z-index: 1;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.445);
    font-weight: bold;
  }

  .navbar-logo {   
    margin-right: 25px;
    margin-left: 25px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    /* opacity:0.6; */
    color: white;
    text-decoration: none !important;

    /* Prevents .do nothing */
    /* pointer-events: none; */

  }

 .navbar-logo:hover {
    color: white;
 }


  .navbar-brand {   
    margin-right: 25px;
    margin-left: 25px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    /* opacity:0.6; */
    color: white;

/*   Use three below code for text stroke with transparent text
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow; */
  
  }

  .navbar-brand:hover {    
    transition: .5s;
    background-color: white;
    color: rgba(0, 0, 0, 0.705);
    text-shadow: .5px 0 0 currentColor;
  }

  #contactNav {
    
    background-color: white;
    color: rgba(0, 0, 0, 0.705);
    text-shadow: .5px 0 0 currentColor;
  }

  .content1 {
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #myContactRow {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .myfooter {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  #name {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  
  #email {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  
  #phone {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #message {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #colRight {
    border-left: 1px solid grey;
    padding-left: 100px;
  }

  .btn {
    border-radius: 30px;
    background-color: white;
    color: rgb(9, 9, 94);
    text-shadow: .5px 0 0 currentColor;
    border-color: rgb(9, 9, 94);
    padding: 15px 50px 15px 50px;
    border-width: medium;
    font-size: 12px;
    letter-spacing: .3rem;
  }
  