* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

/* #myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%; 
min-height: 100%;
} */

#myVideo {
  position: static;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .8;
}

.content {
  position: absolute;
  top: 260px;
  bottom: 300px;
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
  font-size: 100px;
  font-weight: bolder;
  width: 100%;
  padding: 20px; 
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;  
 }

 #firstP, #secondP {
  margin-bottom: -40px;  
 }

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;    
}

/* Navigation Bar */
.navbar { 
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 200px;
  padding-left: 200px;
  z-index: 1;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.445);
  font-weight: bold;
}

.nav-link {   
  margin-right: 25px;
  margin-left: 25px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  /* opacity:0.6; */
  color: white;

/*   Use three below code for text stroke with transparent text
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellow; */

}

.nav-link:hover {    
  transition: .5s;
  background-color: white;
  color: rgba(0, 0, 0, 0.705);
  text-shadow: .5px 0 0 currentColor;
}

#homeNav {
  
  background-color: white;
  color: rgba(0, 0, 0, 0.705);
  text-shadow: .5px 0 0 currentColor;
}

.myfooter {
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 100px;
  margin-bottom: 50px;
}
