* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

/* #myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%; 
min-height: 100%;
} */

#myVideo {
  position: static;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
  opacity: .5;
}

.content {
  position: absolute;
  top: 165px;

  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
  font-size: 100px;
  font-weight: bolder;
  width: 100%;
  padding: 20px; 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: orange;  
  line-height: 1;
 }

 h1 {
  font-size: 5em;
}

 .content1 {
      
  max-width: 1021px;
  width: 800px;
  margin: 100px auto 100px auto;
}



#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;    
}

/* Navigation Bar */
.navbar { 
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 200px;
  padding-left: 200px;
  z-index: 1;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.445);
  font-weight: bold;
}




.navbar-brand {   
  margin-right: 25px;
  margin-left: 25px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  /* opacity:0.6; */
  color: white;
  text-decoration: none !important;

  /* Prevents .do nothing */
  /* pointer-events: none; */

}

.navbar-brand:hover {
  color: white;
}


.nav-link {   
  margin-right: 17px;
  margin-left: 17px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  /* opacity:0.6; */
  color: white;

/*   Use three below code for text stroke with transparent text
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellow; */

}

.nav-link:hover {    
  transition: .5s;
  background-color: white;
  color: rgba(0, 0, 0, 0.705);
  text-shadow: .5px 0 0 currentColor;
}

#homeNav {
  
  background-color: white;
  color: rgba(0, 0, 0, 0.705);
  text-shadow: .5px 0 0 currentColor;
}

.myfooter {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#topnav1 {
  display: none;
}


@media (min-width:1021px) { 


}

@media screen and (max-width: 1020px) { 
  /* Large Desktop */ 

.content {
  position: absolute;
  top: 160px;
  bottom: 200px;
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
  font-size: 100px;
  font-weight: bolder;
  width: 100%;
  padding: 20px; 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: orange;  
 }

      .nav-link {   
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        /* opacity:0.6; */
        color: white;    

      }

      #listNav {
        float: right; 
      }

      .navbar { 
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 80px;
        padding-left: 80px;
        z-index: 1;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.445);
        font-weight: bold;
      }

      #topnav {
        display: none;
    }

    #topnav1 {
        display: inline;
    }

    .content {
      position: absolute;
      top: 80px;
    
      /* background: rgba(0, 0, 0, 0.5); */
      color: white;
      font-size: 75px;
      font-weight: bolder;
      width: 100%;
      padding: 20px; 
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: orange; 
     }

     .content1 {
      
      max-width: 781px;
      width: 600px;
      margin: 100px auto 100px auto;
    }

     .myfooter {
      margin-left: 80px;
      margin-right: 80px;
      margin-top: 100px;
      margin-bottom: 50px;
    }

}

@media screen and (max-width: 780px) { 
/* tablet */ 

    .content1 {
        max-width: 780px;
        width: 400px;
        margin: 40px auto 40px auto;
      }
      
      #firstDiv {
        max-width: 780px;
        min-width: 481px;
        
      }


      .nav-link {   
        margin-right: 7px;
        margin-left: 7px;
        font-size: 12px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 20px;
        /* opacity:0.6; */
        color: white;         
      }

      .navbar { 
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 20px;
        padding-left: 20px;
        z-index: 1;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.445);
        font-weight: bold;
      }

      .content {
        position: absolute;
        top: 47px;
      
        /* background: rgba(0, 0, 0, 0.5); */
        color: white;
        font-size: 58px;
        font-weight: bolder;
        width: 100%;
        padding: 20px; 
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: orange; 
       }

       .myfooter {
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 100px;
        margin-bottom: 50px;
      }

}

@media screen and (max-width: 480px) { 
/* mobile */ 

    .content1 {
        max-width: 480px;
        width: 300px;
        margin: 30px auto 30px auto;
      }

      #firstDiv {
        max-width: 479px;
     
        
      }

      .content {
        position: absolute;
        top: 100px;
        bottom: 100px;
        /* background: rgba(0, 0, 0, 0.5); */
        color: #f1f1f1;
        width: 100%;
        padding: 20px;    
      }

      .content {
        position: absolute;
        top: 40px;
      
        /* background: rgba(0, 0, 0, 0.5); */
        color: white;
        font-size: 55px;
        font-weight: bolder;
        width: 100%;
        padding: 20px; 
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: orange; 
       }

       .myfooter {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 100px;
        margin-bottom: 50px;
      }


}